<% content_for :map do %>
<% content_for :stylesheets do %>

<%= stylesheet_link_tag "MarkerCluster.Default.css" %>

<style type="text/css">

#map {
  width: 100%;
  height: 100%;
}

</style>
<% end %>

<div id="map"></div>
<div id="content" style="display:none"></div>
<% end %>


<% content_for :javascripts do %> 
<%= javascript_include_tag "leaflet.markercluster.js" %>
<% end %>