

<% content_for :sidebar_content do %>


<h3>設定地圖</h3>

<% content_for :form_content do %>
<br>
<div class="field">
  <%= render template: "common/edit_location_pin_upload" %>
</div>
<% end %>
<%= render template: "maps/form" %>

<% end %>
<%= render template: "common/sidebar_right" %>



<% content_for :javascripts do %>
<script type='text/javascript'>
  (function(){

    get_marker_and_pin_in_map(<%= @map.id %>,function(marker,map_id){
      marker.on('click',function(event){
        location.href = '/maps/'+map_id+'/locations/'+event.target.options.location_id;
      });
    });
  })();

</script>
<% end %>

