

<% content_for :sidebar_content do %>


      <h3>設定地圖</h3>

    <%= render :partial => "maps/form" %>


<% end %>
<%= render template: "common/sidebar_right" %>



<% content_for :javascripts do %>
<script type='text/javascript'>
(function(){

  var markers = new L.MarkerClusterGroup();
  $.ajax({
    url: "/maps/<%= @map.id %>/locations",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var title = data[keysArray[i]]["title"];
        var location_id = data[keysArray[i]]["id"];
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{location_id:location_id, icon:otherIcon, title:title} );

        markers.addLayer(marker);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);

        marker.on('click',function(event){
          location.href = '/maps/<%= @map.id %>/locations/'+event.target.options.location_id;
        });
      }
      map.addLayer(markers);
    }
  });


})();

</script>
<% end %>

