

<% content_for :sidebar_content do %>

<h3>新增地圖</h3>
<%= render template: "maps/form" %>

<% end %>
<%= render template: "common/sidebar_right" %>


<% content_for :javascripts do %>


<script type='text/javascript'>
  (function(){

    <%= render :partial => "example/shifus_data" %>


  })();

</script>
<% end %>

