
<% content_for :sidebar_content do %>
<%= render :partial => "common/sidebar_meetmap" %>

<% end %>
<%= render template: "common/sidebar" %>


<% content_for :javascripts do %>
<script type='text/javascript'>
  (function(scope){

    var sidebar = L.control.sidebar('sidebar', {
      position: 'left'
    });

    map.addControl(sidebar);
    sidebar.show();

    var markers = new L.MarkerClusterGroup();
    $.ajax({
      url: "/maps/<%= @map.id %>/locations",
      dataType: "json",
      success: function (data) {
        var keysArray = Object.keys(data);
        for (var i in keysArray){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        if(!data[keysArray[i]]["lat"] || !data[keysArray[i]]["start_at"]){
          continue;
        }
        var title = data[keysArray[i]]["title"];
        var location_id = data[keysArray[i]]["id"];
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{location_id:location_id, icon:otherIcon, title:title, start_at:data[keysArray[i]]["start_at"].replace('T', ' '), end_at:data[keysArray[i]]["end_at"]} );

        markers.addLayer(marker);
        map.fitBounds(markers.getBounds());
        var callback = function(event,location_id){
          var alatlng = event.latlng;
          $.ajax({
            url: '/maps/<%= @map.id %>/locations/' +location_id ,
            dataType:'script'
          }).success(function(data){
            // event.target.bindPopup($('#content').html());
            // event.target.openPopup();
            sidebar.show();
            console.log(data);
            map.panTo(alatlng);
            map.zoomIn(6);
          });
        };
        $('#event_list').append('<table class="table table-striped"><tr><td><a id="location_'+location_id+'" data-id='+location_id+'><h4>'+title+'<h4></a></td></tr></table>');

        $('#location_'+location_id).bind('click',function(event){
          callback(event,$(this).attr('data-id'));
        });

        // var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        // marker.bindPopup(text);

        marker.on('click',function(event){
          callback(event,event.target.options.location_id);
        });
      }

      //map.addLayer(marker);

      var sliderControl = L.control.sliderControl({layer: markers,position: 'bottomleft',range: true, timeAttribute: "start_at", alwaysShowDate: true, showAllOnStart: true });
      map.addControl(sliderControl);
      sliderControl.startSlider();
    }
  });


})(window);

</script>
<% end %>

