
<% content_for :sidebar_content do %>

<%= render :partial => "common/sidebar_meetmap" %>

<% end %>
<%= render template: "common/sidebar" %>


<% content_for :javascripts do %>
<script type='text/javascript'>
  (function(scope){

    var sidebar = L.control.sidebar('sidebar', {
      position: 'left'
    });

    map.addControl(sidebar);
    sidebar.show();

    var markers = new L.MarkerClusterGroup();
    $.ajax({
      url: map_url+ "/locations",
      dataType: "json",
      success: function (data) {
        var keysArray = data;

        var getLocation = function (location) {
          return function(){
            $.ajax({
              url:'http://maps.googleapis.com/maps/api/geocode/json',
              data:{
                address:location["address"],
                region: 'tw'
              },
              dataType:'json',
              success: function (data) {
                moment.locale('zh-TW');
                var lat_lng = (data["results"]) ? data["results"][0]["geometry"]["location"] : '' ;
                var title = location["title"];
                var location_id = location["id"];
                var start_at = '於 ' + moment(location["start_at"]).subtract(8, 'hours').format('MMMM Do, a h:mm')+'分';
                var marker = L.marker([lat_lng["lat"], lat_lng["lng"]],{location_id: location_id, icon:otherIcon,title:title} );

                markers.addLayer(marker);
                marker.bindPopup('<h2>'+title+'</h2><p>地址：'+location["address"]+'</p>');
                map.addLayer(markers);

                var callback = function(event,location_id,lat_lng){
                  var alatlng = (event.latlng) ? event.latlng : lat_lng;
                  $.ajax({
                    url: map_url+'/locations/' +location_id ,
                    dataType:'script'
                  }).success(function(data){

                    sidebar.show();
                    console.log(data);
                    map.panTo(alatlng);
                    map.zoomIn(6);
                  });
                };
                var remark = (!location["remark"]) ? "" : '<span class="pull-right">'+ location["remark"]["name"]+'</span>';
                $('#event_list').prepend('<table class="table table-striped"><tr><td><a id="location_'+location_id+'" data-id='+location_id+' data-lat='+lat_lng["lat"]+' data-lng='+lat_lng["lng"]+'><h4>'+title+'<h4></a><p> '+ start_at + remark +'</p></td></tr></table>');

                $('#location_'+location_id).bind('click',function(event){
                  callback(event,$(this).attr('data-id'), {lat: $(this).attr('data-lat'), lng: $(this).attr('data-lng')});
                });

                marker.on('click',function(event){
                  callback(event,event.target.options.location_id);
                });
              }
            });
};
};
for (var i=0; i < keysArray.length; i++){
  setTimeout(getLocation(keysArray[i]) , 110*i);
};

setTimeout(
  function(){map.fitBounds(markers.getBounds());}
  ,keysArray.length*110
  );
}
});


})(window);

</script>
<% end %>

