$.ajax({
  url: "/assets/shifus.json",
  dataType: "json",
  success: function (data) {
    var keysArray = Object.keys(data);
    for (var i=0; i<keysArray.length; i++){
      var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:paintingIcon} );
      markers.addLayer(marker);
      var text = "<h6>"+data[keysArray[i]]["address"]+"</h6>";
      marker.bindPopup(text);
    }
     map.addLayer(markers);
  }
});

