<header class="note-header">
  <h1 class="note-heading"><%= link_to @location[:title] , '#'  %>

  </h1>
</header>
<div class="note-contents">

  <div class="note-message ">
    <p><%= @location.to_json %></p>
  </div>
</div>