<%= render :partial => "maps/map" %>
Mongodb Query String:<input id="query_string" type="text" placeholder='{"lat":{"$exists":true}}' value='{"lat":{"$exists":true}}' />
<% content_for :sidebar_content do %>
<% content_for :stylesheets do %>
<style type="text/css">

#map {
  width: 100%;
  height: 97%;
}

</style>
<% end %>

<%= render :partial => "common/sidebar_example" %>
<% end %>
<%= render template: "common/sidebar" %>

<% content_for :javascripts do %> 

<script type='text/javascript'>
(function(scope){
  var sidebar = L.control.sidebar('sidebar', {
    position: 'left'
  });
  
  map.addControl(sidebar);
  sidebar.show();

  var markers = new L.MarkerClusterGroup();


  $.ajax({
    url: "/factories.json",
    dataType: "json",
    success: function (data) {
      var keysArray = Object.keys(data);
      for (var i=0; i<keysArray.length; i++){
        // var circle = L.circle([data[keysArray[i]][1], data[keysArray[i]][0]], 500, {
        //   color: 'red',
        //   fillColor: '#f03',
        //   fillOpacity: 0.5
        // }).addTo(map);
        // circle.bindPopup(data[keysArray[i]][2]);
        //console.log(data[keysArray[i]]);
        var marker = L.marker([data[keysArray[i]]["lat"], data[keysArray[i]]["lng"]],{icon:otherIcon,title:data[keysArray[i]]["_id"]["$oid"]} );
        markers.addLayer(marker);

        var text = "<h2>"+data[keysArray[i]]["title"]+"</h2>";
        marker.bindPopup(text);


        marker.on('click',function(event){
          var alatlng = event.latlng;
          $.ajax({
            url: "/factories/" +event.target.options.title +'.js',
            dataType:'script'
          }).success(function(data){
            sidebar.show();

          });
        });
      }
      map.addLayer(markers);
    }
  });

  $('#query_string').keypress(function(e){
    code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13){
      query_data($('#query_string').val(),function(data){$('#sidebar').text(data);}); 
    }
  });

  var query_data = function(qStr,callback){
    $.ajax({
      url: "/factories.json",
      dataType: "json",
      data: {json: qStr},
      success: function(data){
        if (typeof callback !== "undefined"){
          callback.call(this,JSON.stringify(data));
        }     
      }
    })
  };

  



})(window);

</script>
<% end %>

