      <div class="jumbotron">
        <h1>Book Store</h1>
        <p>交換書的地方，把你放置已久的書放上來吧！</p>
        <p>
          <%= link_to "看看書 ","/" ,:class => "btn btn-primary btn-lg" %>
        </p>
      </div>