<div class="navbar-form navbar-left" role="form">
  <input type="text" id="search_location" name="q" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "Search" %>" />      
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
(function(scope){

  $('#search_location').keypress(function(e){
    code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13){
      search_location($('#search_location').val());
    }
  });

  
  var search_location = function(queryString){
    $.ajax({
      url: "/welcome/search_location",
      dataType: "json",
      data: {q: queryString},
      success: (function(s){
        return function (data) {
          console.log(s);
          s.setMarkerOnMapArea(s.marker,data);
          map.setZoom(15);
        }
      })(mapApp)
    });
  }

})(window)
</script>
<% end %>