<div class="navbar-form navbar-left" role="form">
  <input type="text" id="search_location" name="q" class="form-control" value="<%= @query_string %>" placeholder="<%= @query_string ||   "Search" %>" />      
</div>

<% content_for :javascripts do %>
<script type="text/javascript">
(function(scope){
  if(!scope.myMarker){
    scope.myMarker = L.marker(map.getCenter(), {
      icon: myIcon,
      draggable: "true"
    }).addTo(map);

    myMarker.on("dragend", function(e) {
      var position = e.target.getLatLng();
      setMarkerOnMapArea(e.target, position);
    });

    map.on("click", function(e) {
      setMarkerOnMapArea(myMarker, e.latlng);
    });

  }

  $('#search_location').keypress(function(e){
    code = (e.keyCode ? e.keyCode : e.which);
    if(code == 13){
      search_location($('#search_location').val());
    }
  });


  var search_location = function(queryString){
    $.ajax({
      url: "/welcome/search_location",
      dataType: "json",
      data: {q: queryString},
      success: (function(m,s){
        return function (data) {
          setMarkerOnMapArea(m,{lat: data[0],lng:data[1]},s);
          map.setZoom(15);
        }
      })(myMarker,setLocationNumfunction)
    });
  }

})(window)
</script>
<% end %>