
<h1><%= Setting.app_name %></h1>
<div id="trumbowyg">
    <h2>看看目前附近有什麼活動？</h2>

    <ul>
        <%= link_to "以Factbook登入", "/users/auth/facebook",class: "btn btn-info" %>
    </ul>


    <div id="event_list"></div>
</div>


