
<h1><%= Setting.app_name %></h1>
<div id="trumbowyg">
    <p><b>隨手拍，隨手紀錄。</b></p>
    <h2>創造屬於自已的地圖</h2>

    <ul>
        <%= link_to "以Factbook登入", "/users/auth/facebook",class: "btn btn-info" %>
    </ul>

    <h3 class="lorem">參加附近有趣的活動<h3>
    <img src="http://images.abic.com.tw/upload/eda/ida14.jpg" width="100%">
    <h3 class="lorem">分享家鄉的風景</h3>
    <img src="http://attach.bbs.miui.com/album/201411/10/123812ajs4b5kttldtubxb.jpg" width="100%">
    <h3 class="lorem">和朋友討論旅遊去處</h3>
    <img src="http://images2.sina.com/travel/news/spot/2010-01-11/U118P210T2D4627F11DT20100111003150.jpg" width="100%">
    <h3 class="lorem">規畫心目中的建築藍圖</h3>
    <img src="http://www.mottimes.com/image/news/7220130729181314.jpg" width="100%">
</div>
