
    <h1><%= Setting.app_name %></h1>
<div id="trumbowyg">
    <p>一個全新打造、突破傳統的利用地圖界面、結合移動定位服務（Location Based Service；LBS）的新形態文創產業互動體驗平台。</p>

    <p><b>發揮你的想像力，一起來創造台灣吧！</b></p>

    <ul>
        <%= link_to "以Factbook登入", "/users/auth/facebook",class: "btn btn-info" %>  
    </ul>

    <p class="lorem">團隊運用創新的網路前、後端技術，使用開源電腦程式語言，打造出全新視覺體驗的「台灣文創地圖」。我們的提案構想是：將文創相關內容所衍生出的藝文活動、文創商品以及文創業者（例如布袋戲、挽臉、打陀螺、踩高蹺、打鐵、胡琴、三味弦、古早麵、手工風箏…等等活動、商品內容或者業者所在地），依據其所在位置及對應時間，以空間及時間排序數據處理方式，儲存於雲端資料庫中，並在網站/手機應用程式(Web/App)的地圖界面上，對應於使用者點擊或者GPS位置發送而動態呈現</p>

    <p class="lorem">-  地圖化界面：透過Google Map或者其他Open Data(例如Open Street Map)的API，導入地圖資訊。再將藝文活動、文創商品以及文創業者等內容資訊，依照其地理位置，擺放至地圖上。透過地圖界面展示相關文創資訊，直接給予民眾在地化訊息，增加內容能見度及資訊實用性</p>

    <p class="lorem">-  圖形化視覺：數據視覺化是近年來興起的一門新技術，主要是利用視覺處理軟體，對資料庫內的數據進行處理，將各類文創活動/商品相關數據轉換成讓人一目了然、清晰明瞭的視覺圖像呈現給使用者。</p>
    <p class="lorem">-  時間軸操作：有感於地圖界面上呈現大規模資訊時，可能產生的資訊擁擠問題，「天衍創客」開發出時間軸呈現技術，可將資訊依照時間先後進行排列。而後在網站前端提供一個使用者時間軸操作界面，可以用時間序列的方式進行資訊呈現，解決資訊擁擠問題。<p>

