<% content_for :stylesheets do %>
<%= stylesheet_link_tag "leaflet-sidebar" %>
<% end %>

<div id="sidebar_right">
  <%= yield :sidebar_content %>
</div>

<% content_for :javascripts do %> 
<%= javascript_include_tag "leaflet-sidebar" %>
<script type='text/javascript'>
(function(scope){
var sidebar = L.control.sidebar('sidebar_right', {
  position: 'right',
  closeButton: false
});

map.addControl(sidebar);
sidebar.show();
})(window);
</script>
<% end %>