<% content_for :stylesheets do %>

<%= stylesheet_link_tag "leaflet-sidebar/src/L.Control.Sidebar.css" %>


<% end %>
<div id="sidebar">
  <%= notice_message %>
  <%= yield :sidebar_content %>
</div>
