<header class="note-header">
  <h3 class="note-author"><%= @location.title %></h3>
  <h1 class="note-heading"><a href="https://findery.com/Orangezest/notes/raccoon" class="ps" rel="permalink">Raccoon!</a></h1>
</header>
<div class="note-contents">
  <div class="note-media">
    <div class="note-media-object">
      <figure>
        <a href="https://d3dupjkkwlat3o.cloudfront.net/1073741849334/8671377/1400w?1408655566" class="image lightbox"><img src="https://d3dupjkkwlat3o.cloudfront.net/1073741849334/8671377/780w?1408655566" class="" alt="Raccoon!" width="300" height="300"></a>
      </figure>
    </div>
  </div>
  <div class="note-message ">
    <p><%= @location.content %></p>
  </div>
</div>